<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
     <!-- Custom styles for this template -->
    <link href="../css/navbar.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>

	<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>One Bar. One Hope.</h1>
            <h3>Eliminating world hunger one bar at a time.</h3>

            <div class="center">
                <div class="video">
                    <iframe width="854" height="510" src="https://www.youtube.com/embed/x4kISy3lRrA" frameborder="0" allowfullscreen></iframe>
                </div>
                <!--span style="" id="submit-now"><a href="javascript:sendEmail()" class="btn btn-dark btn-lg">Tell me more!</a></span>
                <span style="display:none;" id="submit-done"><a href="#" class="btn btn-dark btn-lg">Submitted.  Talk to you soon!</a></span>
            -->
            </div>
<!--             <a href="#about" class="btn btn-dark btn-lg">Register</a> -->
        </div>
    </header>


    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <center style="margin-bottom:30px;">
                        <object width="853" height="480"><param name="movie" value="//www.youtube.com/v/45oor8lSjaY?version=3&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/45oor8lSjaY?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="853" height="480" allowscriptaccess="always" allowfullscreen="true"></embed></object>
                    </center>
                    <h2>The Bar.</h2>
                    <p class="lead">
                        The Hope Bar is “THE” Standardized whole food bar. That means we use nothing but whole food ingredients enriched with nothing but food-sourced vitamins, minerals, proteins and fats.
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Malnourished Children</h2>
                    <hr class="medium">
                    <div class="row">
                        <div class="center">
                            <div class="service-item">
                                <span class="form-horizontal" class = "fa-3x">
                                Malnutrition is the condition that develops when the body does not get the right amount of the vitamins, minerals, and other nutrients it needs to maintain healthy tissues and organ function.
                            	</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                    <!-- /.row (nested) -->
            </div>
                <!-- /.col-lg-10 -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Malnutrition</h1>
        </div>
    </aside>



    

    <!-- Footer 
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    
                    <p class="text-muted">Copyright &copy; MARSS 2015</p>
                </div>
            </div>
        </div>
    </footer>-->

<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/groups/HOPEBARS/"><i class="fa fa-facebook-square fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/em2dproject"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; MARSS 2015</p>
                </div>
            </div>
        </div>
    </footer>
  

</body>

</html>

